In [72]:
def nama_makanan (makanan):
   
    print(makanan)
nama_makanan('soto' )

soto

In [65]:
def luas_segitiga(alas,tinggi):
    luas= (alas*tinggi)/2
    print('luas segitiga: %.2f' %luas)
luas_segitiga(4,6)

luas segitiga: 12.00

In [66]:
def luas_segitiga(alas,tinggi):
    luas= (alas*tinggi)/2
    return luas
luas_segitiga(4,6)

12.0

In [73]:
def nama_orang(*nama):
    print('teman saya namanya:'+nama[2])

nama_orang('irfan','sardi', 'joko', 'tono')

teman saya namanya:joko

In [76]:
def printinfo(nama,umur=27):
    print('Nama:',nama)
    print('Umur:', umur)

printinfo(umur= 28, nama= 'kuda')
printinfo(nama='kambing')

Nama: kuda
Umur: 28
Nama: kambing
Umur: 27

In [83]:
def merk_mobil(*merk):
    print(merk[1])
merk_mobil('toyota','honda','ford')

honda

In [87]:
# Lambda
hitung=lambda x,y : x**2+y**2
hitung(10,15)

325

In [94]:
def convert(fahr,kelv):
    cels=fahr*1.8+32.0
    cels2=kelv -273,15
    return cels
print("Temperature in celcius (C)=", convert(32,20))

Temperature in celcius (C)= 89.6